<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.sss.user.entity.User">
        <result column="name" jdbcType="VARCHAR" property="name" javaType="java.lang.String" />
        <result column="address" jdbcType="VARCHAR" property="address" javaType="java.lang.String" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" javaType="java.util.Date" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" javaType="java.util.Date" />
    </resultMap>
    <select id="selectByCond" resultMap="BaseResultMap">
        SELECT * FROM t_user A WHERE 1=1
        <if test="name !=null ">
            AND A.name LIKE concat('%',#{name},'%')
        </if>
        <if test="address !=null ">
            AND A.address LIKE concat('%',#{address},'%')
        </if>
    </select>

    <delete id="delUserBy" parameterType="java.lang.Long">
        DELETE FROM t_user
        WHERE id = #{id}
    </delete>

    <insert id="addUser" parameterType="com.sss.user.entity.User" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        INSERT INTO t_user (name,address,create_time)
        VALUE (#{name},#{address},SYSDATE())
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <update id="updateUser" parameterType="com.sss.user.entity.User">
        UPDATE t_user
        <set>
            name = #{name},
            address = #{address},
            modify_time = now(),
        </set>
        WHERE id = #{id}
    </update>
</mapper>